@import url('./font.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        @apply font-iran;
    }
}

.overflow-x-auto::-webkit-scrollbar,
.overflow-y-auto::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}
   
.overflow-x-auto::-webkit-scrollbar-track
.overflow-y-auto::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(77, 86, 224, 0.15);
    border-radius: 100%;
}
.overflow-x-auto::-webkit-scrollbar-thumb,
.overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: rgb(169, 169, 169);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(134, 134, 134);
    
}


.colspan-10 {
    @apply col-span-10;
}

.colspan-5 {
    @apply col-span-5;
}

.colspan-4 {
    @apply col-span-4;
}
